.shop-container{
    
}
.product-container{

    margin-left: 20px;
    padding-right: 20px;
    border-right: 1px solid lightgray;
}
h1{
    color: black;
}
.cart-container{
    position: fixed;
    bottom: 0;
    right: 20;
    margin: 20px;
    padding: 20px;
    background-color: #ffffffc0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width:min-content;
    border-radius: 10px;
    
}
